.card {
  border-radius: 5px;
  box-shadow: inset 0 0 0 0.1rem rgb(50, 50, 50);
  padding: 0.2rem;
  max-width: 1240px;
  margin: 0 auto 2rem;
  position: relative;
  overflow: hidden;

  &:hover .border {
    opacity: 1;
  }
  .border {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: opacity 0.25s ease-in-out;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      min-width: 200%;
      min-height: 200%;
      aspect-ratio: 1/2;
      background: conic-gradient(
        from 0deg,
        var(--inside-title-color),
        var(--outside-title-color),
        var(--title-icon-color),
        var(--background-color)
      );
      transform: translate(-50%, -50%) rotate(0deg);
      animation: rotate 3s linear infinite;
    }
  }

  @keyframes rotate {
    to {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }

  .container {
    // visibility: hidden;
    position: relative;
    padding: 4rem 0;
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
    background-color: var(--project-card-color);
    border-radius: inherit;

    @media screen and (max-width: 450px) {
      padding: 1.5rem 0;
    }

    .reverse {
      //Quando reverse for true
      display: flex;
      justify-content: space-between;
      flex-direction: row-reverse;
    }

    .contentTextImgWrapper {
      display: flex;
      justify-content: space-between;
      max-width: 1000px;
      margin: 0 auto;
      gap: 2rem;

      @media screen and (max-width: 800px) {
        flex-direction: column-reverse;
        align-items: center;
      }

      .contentTextWrapper {
        width: 100%;
        font-family: var(--body-font-family);
        display: flex;
        flex-direction: column;
        gap: 1rem;

        @media screen and (max-width: 800px) {
          justify-content: center;
          align-items: center;
          padding: 1rem;
        }

        .titleWrapper {
          display: flex;
          align-items: center;
          gap: 1rem;

          h1 {
            font-size: 4rem;
            font-weight: 700;
            color: var(--inside-title-color);
          }

          h2 {
            font-size: 4rem;
            font-weight: 300;
            color: var(--title-font-color);
          }
        }

        p {
          color: var(--content-font-color);
          font-size: 1.7rem;
          font-weight: 200;
        }

        .stacks {
          display: flex;
          gap: 0.5rem;
          font-size: 1.3rem;
        }

        .links {
          display: flex;
          align-items: center;
          justify-content: start;
          gap: 2rem;
          margin-top: 1rem;

          #visitSite {
            border: 0.1rem solid var(--inside-title-color);
            border-radius: 5px;
            padding: 0.7rem 2rem;
            position: relative;
            overflow: hidden;            
            transition: transform 1s ease-in-out;

            &:hover * {
              color: var(--content-font-color);
            }

            &:hover::before{
              transform: translate(0%);
              transition: transform 0.5s ease-in-out;              
            }

            &::before {
              background-color: var(--inside-title-color);
              content: "";
              position: absolute;
              width: 110%;
              height: 100%;
              border-radius: inherit;
              top: 0;
              left: 0;
              transform: translate(-105%);
              transition: transform 0.5s ease-in-out;
              z-index: 0;
            }

            @keyframes enterBackground {
              to {
                transform: translate(100%);
              }
            }
          }

          a {
            text-decoration: none;
            color: var(--inside-title-color);
            font-size: 1.3rem;
            font-weight: 200;          
          }

          span {
            background-color: none;
            position: relative;
            z-index: 9999;
            color: var(--inside-title-color);
            transition: color 0.5s ease-in-out;
            
          }
        }
      }

      img {
        max-width: 50rem;
        max-height: 23rem;
        border-radius: 5px;

        @media screen and (max-width: 460px) {
          width: 30rem;
          height: 20rem;
          padding: 1rem;
          border-radius: 5px;
        }
      }
    }
  }
}
