.container {
  padding-top: 6rem;
  // max-width: 1240px;
  width: 100%;
  // height: 50vh;
  margin: 0 auto;

  @media screen and (max-width: 1240px) {
    padding: 2rem;
  }

  .title {
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    animation: fly-in-out-title linear both;
    animation-timeline: scroll(block);
    animation-range: cover 0% cover 100%;

    @keyframes fly-in-out-title {
      0% {
        opacity: 0;
        translate: 0 -20vw;
      }

      25% {
        opacity: 1;
        translate: 0 -5vw;
      }

      50% {
        opacity: 1;
        translate: 0 5vw;
      }

      75% {
        opacity: 1;
        translate: 0 20vw;
      }

      100% {
        opacity: 0;
        translate: 0 30vw;
      }
    }

    h1 {
      font-size: 12rem;
      color: var(--outside-title-color);
      font-family: var(--headings-font-family);

      @media screen and (max-width: 800px) {
        font-size: 8rem;
      }

      @media screen and (max-width: 520px) {
        font-size: 5rem;
      }
    }

    .iconTitle * {
      font-size: 8rem;
      color: var(--title-icon-color);

      @media screen and (max-width: 800px) {
        font-size: 6rem;
      }

      @media screen and (max-width: 520px) {
        font-size: 3rem;
      }
    }
  }

  .iconsWrapper {
    max-width: 1000px;
    margin: 6rem auto 0;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 800px) {
      margin: 2rem auto 0;
    }

    .icons {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;

      gap: 3rem;

      & > * {
        animation: fly-in-out-icons linear both;
        animation-timeline: scroll(block);
        animation-range: cover 0% cover 100%;

        @keyframes fly-in-out-icons {
          0% {
            opacity: 0;
            translate: 0 -15vw;
          }

          25% {
            opacity: 1;
            translate: 0 -5vw;
          }

          50% {
            opacity: 1;
            translate: 0 0vw;
          }

          75% {
            opacity: 1;
            translate: 0 10vw;
          }

          100% {
            opacity: 0;
            translate: 0 20vw;
          }
        }
      }

      @media screen and (max-width: 800px) {
        gap: 2rem;
      }

      .htmlLogo {
        position: relative;
        overflow: hidden;

        &:hover::before {
          transform: translate(0%);
          transition: transform 0.3s ease-in-out;
        }
      }

      .htmlLogo::before {
        content: "HTML5";
        background-color: var(--background-color);
        font-family: var(--body-font-family);
        font-size: 2.5rem;
        // border: 0.1rem solid var(--title-font-color);
        border-radius: inherit;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 100%;
        height: 100%;
        transform: translateY(-100%);
        top: 0%;
        left: 0;
        transition: transform 0.3s ease-in-out;
      }

      .cssLogo {
        position: relative;
        overflow: hidden;

        &:hover::before {
          transform: translate(0%);
          transition: transform 0.3s ease-in-out;
        }
      }

      .cssLogo::before {
        content: "CSS";
        background-color: var(--background-color);
        font-family: var(--body-font-family);
        font-size: 2.5rem;
        // border: 0.1rem solid var(--title-font-color);
        border-radius: inherit;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 100%;
        height: 100%;
        transform: translateY(-100%);
        top: 0%;
        left: 0;
        transition: transform 0.3s ease-in-out;
      }

      .jsLogo {
        position: relative;
        overflow: hidden;

        &:hover::before {
          transform: translate(0%);
          transition: transform 0.3s ease-in-out;
        }
      }

      .jsLogo::before {
        content: "Javascript";
        background-color: var(--background-color);
        font-family: var(--body-font-family);
        font-size: 1.9rem;
        // border: 0.1rem solid var(--title-font-color);
        border-radius: inherit;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 100%;
        height: 100%;
        transform: translateY(-100%);
        top: 0%;
        left: 0;
        transition: transform 0.3s ease-in-out;
      }

      .tsLogo {
        position: relative;
        overflow: hidden;

        &:hover::before {
          transform: translate(0%);
          transition: transform 0.3s ease-in-out;
        }
      }

      .tsLogo::before {
        content: "Typescript";
        background-color: var(--background-color);
        font-family: var(--body-font-family);
        font-size: 1.9rem;
        // border: 0.1rem solid var(--title-font-color);
        border-radius: inherit;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 100%;
        height: 100%;
        transform: translateY(-100%);
        top: 0%;
        left: 0;
        transition: transform 0.3s ease-in-out;
      }

      .reactLogo {
        position: relative;
        overflow: hidden;

        &:hover::before {
          transform: translate(0%);
          transition: transform 0.3s ease-in-out;
        }
      }

      .reactLogo::before {
        content: "React";
        background-color: var(--background-color);
        font-family: var(--body-font-family);
        font-size: 2.5rem;
        // border: 0.1rem solid var(--title-font-color);
        border-radius: inherit;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 100%;
        height: 100%;
        transform: translateY(-100%);
        top: 0%;
        left: 0;
        transition: transform 0.3s ease-in-out;
      }

      .gitLogo {
        position: relative;
        overflow: hidden;

        &:hover::before {
          transform: translate(0%);
          transition: transform 0.3s ease-in-out;
        }
      }

      .gitLogo::before {
        content: "Git";
        background-color: var(--background-color);
        font-family: var(--body-font-family);
        font-size: 2.5rem;
        // border: 0.1rem solid var(--title-font-color);
        border-radius: inherit;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 100%;
        height: 100%;
        transform: translateY(-100%);
        top: 0%;
        left: 0;
        transition: transform 0.3s ease-in-out;
      }

      div {
        border: 0.1rem solid var(--title-font-color);
        border-radius: 5px;
        padding: 1rem;
        font-size: 8rem;
        display: flex;
        align-items: center;
        justify-content: center;

        & > * {
          color: var(--title-font-color);

          @media screen and (max-width: 800px) {
            font-size: 6rem;
          }

          @media screen and (max-width: 450px) {
            font-size: 5rem;
          }
        }
      }
    }
  }
}
