.container {
  padding-top: 6rem;
  // max-width: 1240px;
  width: 100%;
  // height: 50vh;
  margin: 0 auto;

  @media screen and (max-width: 1240px) {
    padding: 2rem;
  }

  .title {
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
      font-size: 12rem;
      color: var(--outside-title-color);
      font-family: var(--headings-font-family);

      @media screen and (max-width: 800px) {
        font-size: 8rem;
      }

      @media screen and (max-width: 520px) {
        font-size: 5rem;
      }
    }

    .iconTitle * {
      font-size: 8rem;
      color: var(--title-icon-color);

      @media screen and (max-width: 800px) {
        font-size: 6rem;
      }

      @media screen and (max-width: 520px) {
        font-size: 3rem;
      }
    }
  }

  .iconsWrapper {
    max-width: 1000px;
    margin: 6rem auto 0;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 800px) {
      margin: 2rem auto 0;
    }

    .icons {
      
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 3rem;

      @media screen and (max-width: 800px) {
        gap: 2rem;
      }

      

      & > * {
        font-size: 8rem;
        border: 0.1rem solid var(--title-font-color);
        border-radius: 5px;
        padding: 1rem;
        color: var(--title-font-color);

        @media screen and (max-width: 800px) {
          font-size: 6rem;
        }
      }
    }
  }
}
