.container {
  // max-width: 1240px;
  // min-height: 200vh;
  width: 100%;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../assets/lines-about.svg");
  // background-attachment: fixed;
  transition: 0.5s ease-in-out;  
  

  .displayNone {
    display: none;
  }

  .start {
    min-height: 100vh;
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

    div {
      border: 1px solid rgb(255, 255, 255);
      border-radius: 50%;
      font-family: var(--headings-font-family);
      font-size: 3rem;
      width: 20rem;
      height: 20rem;
      display: flex;
      align-items: center;
      justify-content: center;

      a {
        border-radius: inherit;
        text-decoration: none;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .containerAbout {
    min-height: 100vh;
  }

  .nameLogoWrapper {
    padding-top: 9rem;
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 850px) {
      flex-direction: column-reverse;
      justify-content: center;
      margin-top: 1rem;
    }

    .titlesWrapper {
      //Animação
      // @media screen and (min-width: 1500px) {
      //   animation: fly-in-a linear both;
      //   animation-timeline: scroll(block);
      //   animation-range: cover 0% cover 100%;

      //   @keyframes fly-in-a {
      //     0% {
      //       opacity: 0;
      //       transform: translateX(-22rem);
      //     }

      //     20% {
      //       opacity: 1;
      //       transform: translateX(0);
      //     }
      //   }
      // }

      //Responsividade
      @media screen and (max-width: 450px) {
        text-align: center;
      }

      @media screen and (max-width: 850px) {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        hr {
          width: 100%;
        }
      }

      h1 {
        font-size: 12rem;
        color: var(--inside-title-color);
        font-family: var(--headings-font-family);

        @media screen and (max-width: 450px) {
          font-size: 8rem;
        }
      }

      h2 {
        font-size: 8rem;
        color: var(--inside-title-color);
        font-family: var(--headings-font-family);
        margin-top: -5rem;
        font-weight: 300;

        @media screen and (max-width: 450px) {
          font-size: 6rem;
          margin-top: -3rem;
        }
      }

      h3 {
        color: var(--title-font-color);
        font-family: var(--body-font-family);
        font-size: 3.5rem;
        font-weight: 200;
        margin-top: 1rem;
        margin-bottom: 2rem;

        @media screen and (max-width: 450px) {
          font-size: 2.8rem;
        }
      }

      .downloadCV {
        text-decoration: none;
        color: var(--title-font-color);
        font-family: var(--body-font-family);
        font-size: 1.8rem;
        font-weight: 200;
        border: 0.1rem solid var(--title-font-color);
        border-radius: 2rem 0.5rem 2rem 0.5rem;
        max-width: 35%;
        padding: 0.7rem 2rem;
        text-align: center;
        position: relative;
        overflow: hidden;
        transition: transform 1s ease-in-out;

        @media screen and (max-width: 450px) {
          max-width: 100%;
        }

        &:hover::before {
          transform: translate(0%);
          transition: transform 0.2s ease-in-out;
        }

        &::before {
          background-color: var(--inside-title-color);
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          border-radius: inherit;
          top: 0;
          left: 0;
          transform: translate(-100%, -100%);
          transition: transform 0.2s ease-in-out;
          z-index: 0;
        }

        svg * {
          color: var(--title-font-color);
        }

        a {
          text-decoration: none;
        }

        span {
          background-color: none;
          position: relative;
          z-index: 9999;
          color: var(--title-font-color);

          & > * {
            color: var(--title-font-color);
          }
        }
      }
    }

    .imagem img {
      border-radius: 50%;
      object-fit: cover;
      filter: drop-shadow(0px 0px 10rem var(--inside-title-color));
      transition: filter 0.5s ease-in-out;
      

      // @media screen and (min-width: 1500px) {
      //   animation: fly-in-b linear both;
      //   animation-timeline: scroll(block);
      //   animation-range: cover 0% cover 100%;
      // }

      // @keyframes fly-in-b {
      //   0% {
      //     opacity: 0;
      //     transform: translateX(22rem);
      //   }

      //   20% {
      //     opacity: 1;
      //     transform: translateX(0);
      //   }
      // }

      @media screen and (min-width: 950px) {
        width: 40rem;
        height: 40rem;
        margin-right: 10rem;
      }

      @media screen and (max-width: 950px) {
        width: 30rem;
        height: 30rem;
      }

      @media screen and (max-width: 450px) {
        width: 25rem;
        height: 25rem;
      }
    }
  }

  .apresentation {
    max-width: 1240px;
    // max-height: 35vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    margin: 0 auto;

    @media screen and (min-width: 800px) {
      height: 50vh;
    }

    @media screen and (max-width: 450px) {
      padding: 2rem;
      flex-direction: column;
    }

    @media screen and (max-width: 800px) {
      padding: 2rem;
      flex-direction: column;
      margin-top: 3rem;
    }

    .iconTitle {
      border-radius: 150px;
      padding: 2rem;
      transition: filter 0.5s ease-in-out;

      &:hover {
        border-radius: 150px;
        padding: 2rem;
        filter: drop-shadow(0px 0px 5rem var(--inside-title-color));
      }
    }

    .iconTitle * {
      font-size: 8rem;
      color: var(--title-icon-color);

      @media screen and (max-width: 800px) {
        font-size: 8rem;
      }

      @media screen and (max-width: 520px) {
        font-size: 6rem;
      }
    }

    p {
      max-width: 60rem;
      font-size: 1.7rem;
      font-weight: 300;
      color: var(--content-font-color);
      font-family: var(--body-font-family);

      @media screen and (max-width: 450px) {
        font-size: 1.7rem;
        font-weight: 100;
      }

      span {
        font-size: 4rem;
        font-weight: 500;
        color: var(--title-font-color);

        @media screen and (max-width: 450px) {
          font-size: 3.5rem;
        }
      }
    }
  }
}
