

.container {
  padding-top: 6rem;
  // max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../assets/lines-about.svg");
 
  .nameLogoWrapper {
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    

    @media screen and (max-width: 850px) {
      flex-direction: column-reverse;
      justify-content: center;
      margin-top: 1rem;
    }

    .titlesWrapper {
      @media screen and (max-width: 450px) {
        text-align: center;
      }

      h1 {
        font-size: 12rem;
        color: var(--inside-title-color);
        font-family: var(--headings-font-family);

        @media screen and (max-width: 450px) {
          font-size: 8rem;
        }
        
      }
  
      h2 {
        font-size: 8rem;
        color: var(--inside-title-color);
        font-family: var(--headings-font-family);
        margin-top: -5rem;
        font-weight: 300;

        @media screen and (max-width: 450px) {
          font-size: 6rem;
          margin-top: -3rem;
        }
      }
  
      h3 {
        color: var(--title-font-color);
        font-family: var(--body-font-family);
        font-size: 3.5rem;
        font-weight: 100;
        margin-top: 1rem;

        @media screen and (max-width: 450px) {
          font-size: 2.8rem;
        }
      }
    }
    

    .imagem img{
      border-radius: 50%;
      object-fit: cover;
      

      @media screen and (min-width: 950px) {
        width: 40rem;
        height: 40rem;
        margin-right: 10rem;
      }

      @media screen and (max-width:950px) {
        width: 30rem;
        height: 30rem;
      }

      @media screen and (max-width:450px) {
        width: 25rem;
        height: 25rem;
      }

    }

    
  }

  .apresentation {
    max-width: 1240px;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    
    @media screen and (max-width: 450px) {
      padding: 2rem;
    }

    p {
      
      max-width: 60rem;
      font-size: 1.7rem;
      font-weight: 300;
      color: var(--content-font-color);
      font-family: var(--body-font-family);

      @media screen and (max-width: 450px) {
        font-size: 1.7rem;
        font-weight: 100;
      }

      span {
        font-size: 4rem;
        font-weight: 500;
        color: var(--title-font-color);

        @media screen and (max-width: 450px) {
          font-size: 3.5rem;
        }

      }

    }

    
  }
}
