* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: var(--content-font-color);
 
}

:root{
  font-size: 62.5%;
  --background-color: #141625;
  --outside-title-color: #292040;
  --inside-title-color: #bb84e8;
  --content-font-color: #DEE1E6;
  --subtitle-font-color: #7E8492;
  --title-font-color: #fdfdfd;
  --body-font-family: "Manrope", sans-serif;
  --headings-font-family: "Lexend", sans-serif;
}

main {
  background-color: var(--background-color);
  width: 100%;
}