.container {
  padding: 6rem 0;
  // max-width: 1240px;
  width: 100%;
  // height: 50vh;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../assets/lines-contact.svg");

  @media screen and (max-width: 1240px) {
    padding: 2rem;
  }

  .title {
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: end;

    h1 {
      font-size: 12rem;
      color: var(--outside-title-color);
      font-family: var(--headings-font-family);

      @media screen and (max-width: 800px) {
        font-size: 8rem;
      }

      @media screen and (max-width: 520px) {
        font-size: 5rem;
      }
    }

    .iconTitle {
      border-radius: 150px;
      padding: 2rem;
      transition: filter 0.5s ease-in-out;

      &:hover {
        border-radius: 150px;
        padding: 2rem;
        filter: drop-shadow(0px 0px 5rem var(--inside-title-color));
      }
    }

    .iconTitle * {
      font-size: 8rem;
      color: var(--title-icon-color);

      @media screen and (max-width: 800px) {
        font-size: 6rem;
      }

      @media screen and (max-width: 520px) {
        font-size: 3rem;
      }
    }
  }

  .contentWrapper {
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;    

    /* Create View Timeline */
    view-timeline-name: scroll(block);
    view-timeline-axis: block;

    /* Attach animation, linked to the  View Timeline */
    animation: linear revealC both;
    animation-timeline: scroll(block);

    /* Tweak range when effect should run*/
    animation-range: cover 0% cover 100%;

    @keyframes revealC {
      from {
        opacity: 0;
        // clip-path: inset(45% 70% 45% 70%);
        // width: 50%;
        transform: translateX(-300rem);
      }
      to {
        opacity: 1;
        // clip-path: inset(0% 0% 0% 0%);
        // width: 100%;
        transform: translateX(0rem);
      }
    }

    @media screen and (max-width: 900px) {
      justify-content: center;
      flex-direction: column;
    }

    h1 {
      font-size: 8rem;
      color: var(--inside-title-color);
      font-family: var(--headings-font-family);
      max-width: 600px;

      @media screen and (max-width: 800px) {
        font-size: 6rem;
        text-align: center;
      }

      @media screen and (max-width: 520px) {
        font-size: 5rem;
      }
    }

    .socialLinks {
      display: flex;
      flex-direction: row;
      gap: 1.5rem;

      a {
        text-decoration: none;
        color: var(--inside-title-color);
        font-size: 5rem;
        font-weight: 200;
        width: 10rem;
        height: 10rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 150px;
        padding: 2rem;
        transition: filter 0.5s ease-in-out;

        &:hover {
          border-radius: 150px;
          padding: 2rem;
          filter: drop-shadow(0px 0px 5rem var(--inside-title-color));
        }

        @media screen and (max-width: 800px) {
          font-size: 4rem;
          text-align: center;
          width: 8rem;
          height: 8rem;
        }
      }
    }
  }
}
